# Configuración de n8n
REACT_APP_N8N_WEBHOOK_URL=https://vibracionaltacalendar.app.n8n.cloud/webhook/ab708bcb-c9e5-456c-9485-c89ad238863b

# Otras configuraciones
REACT_APP_API_BASE_URL=http://localhost:3001